.navigation {
  height: 64px;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;

  .navigation__hamburger {
    position: absolute;
    left: 30px;

    @include breakpoint_sm {
      display: none;
    }
  }

  .navigation__container {
    @apply mx-auto;
    max-width: min(90%, 1240px);
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__logo {
    display: flex;
    width: 100%;
    justify-content: center;

    @include breakpoint_sm {
      justify-content: flex-start;
    }

    img {
      height: 20px;

      @include breakpoint_sm {
        height: 25px;
      }
    }
  }

  .navigation__item {
    &.navigation__item--tabs {
      ul {
        display: flex;

        li {
          transition: margin-right 300ms ease;
          &:not(:last-child) {
            margin-right: 10px;

            @include breakpoint_md {
              margin-right: 20px;
            }
          }
        }

        .link {
          text-transform: capitalize;
          font-size: 14px;
          font-family: "Poppins";
          font-weight: 400;
          cursor: pointer;
          color: theme("colors.slate.100");
          display: flex;
          justify-content: center;
          align-items: center;

          &.is-active {
            color: rgb(250, 250, 250);
            font-weight: 500;
          }

          &:last-child {
            margin-left: 10px;
            border: 1px solid theme("colors.slate.100");
            border-radius: 30px;
            height: 40px;
            width: 100px;
            transition: all 300ms ease;

            &:hover {
              background-color: theme("colors.slate.50");
              color: theme("colors.slate.800");
            }
          }
        }
      }
    }
  }
}
