.navigation {
  height: 64px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .navigation__container {
    @apply mx-auto;
    height: inherit;
    max-width: max(80%, 1000px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__logo {
    img {
      height: 50px;
    }
  }

  .navigation__item {
    &.navigation__item--tabs {
      ul {
        display: flex;

        li {
          &:not(:last-child) {
            margin-right: 25px;
          }
        }

        .link {
          text-transform: capitalize;
          font-size: 14px;
          font-family: "Poppins";
          font-weight: 400;
          cursor: pointer;
          color: rgb(95, 95, 95);
          display: flex;
          justify-content: center;
          align-items: center;

          &.is-active {
            color: #000;
            font-weight: 500;
          }

          &:last-child {
            margin-left: 10px;
            border: 1px solid theme("colors.gray.500");
            border-radius: 30px;
            height: 40px;
            width: 100px;
            transition: all 300ms ease;

            &:hover {
              background-color: theme("colors.gray.800");
              color: theme("colors.gray.50");
            }
          }
        }
      }
    }
  }
}
