.navigation {
  height: 64px;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;

  .navigation__container {
    @apply mx-auto;
    height: inherit;
    max-width: max(80%, 1000px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__logo {
    img {
      height: 25px;
    }
  }

  .navigation__item {
    &.navigation__item--tabs {
      ul {
        display: flex;

        li {
          &:not(:last-child) {
            margin-right: 40px;
          }
        }

        .link {
          text-transform: capitalize;
          font-size: 14px;
          font-family: "Poppins";
          font-weight: 400;
          cursor: pointer;
          color: theme("colors.slate.100");
          display: flex;
          justify-content: center;
          align-items: center;

          &.is-active {
            color: rgb(250, 250, 250);
            font-weight: 500;
          }

          &:last-child {
            margin-left: 10px;
            border: 1px solid theme("colors.slate.100");
            border-radius: 30px;
            height: 40px;
            width: 100px;
            transition: all 300ms ease;

            &:hover {
              background-color: theme("colors.slate.50");
              color: theme("colors.slate.800");
            }
          }
        }
      }
    }
  }
}
