body {
  background: theme("colors.neutral.900");
}

.app {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .app__header,
  .app__footer {
    flex-shrink: 1;
  }

  .app__body {
    flex-grow: 1;
    height: 100%;
    border: 1px solid violet;
  }

  &.app--loading {
    height: 100vh;
    overflow-y: hidden;
  }

  .app__loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99;
  }
}

.loader-enter-active,
.loader-leave-active {
  transition: opacity 1s ease;
}

.loader-enter-from,
.loader-leave-to {
  opacity: 0;
}
