.testimonials {
  .testimonial-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .testimonial-card__body {
      &.testimonial-card__body--img {
        display: flex;
        justify-content: center;
      }

      &.testimonial-card__body--content {
        display: flex;
        justify-content: center;
        font-family: Quicksand;
        font-size: theme("fontSize.sm");
        text-align: center;
        color: theme("colors.gray.50");
        margin-bottom: 20px;
      }
    }

    .testimonial-card__footer {
      margin-top: auto;

      .user-container {
        .user-container__name {
          font-size: theme("fontSize.lg");
          font-weight: 400;
          text-align: center;
          font-family: Quicksand;
          color: theme("colors.gray.50");
          @apply tracking-wide;
        }

        .user-container__position {
          font-size: theme("fontSize.sm");
          color: theme("colors.gray.500");
          text-align: center;
          text-transform: capitalize;
        }

        .user-container__icon {
          img {
            height: 40px;
            width: auto;
          }
        }
      }
    }
  }
}
